.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.list-country{
      position: absolute;
      top: 100%;
      right: 0;
      background: #000;
      z-index: 1;
      height: 160px;
      overflow: auto;
}

.icon-heart service{display: block;
    /* background: url(/static/media/icon-heart-big.d0d8131….svg) no-repeat 50%; */
    display: block;
    height: 28px;
    width: 32px;}
     
     

.icon-heart add{
      background-size: 24px auto;
      height: 22px;
      margin: 3px 9px 0 0;
      width: 24px;
}